@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 17px;
    font-synthesis: none;
    @apply font-mono selection:bg-brand-2 selection:bg-opacity-50;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
  }

  /* make body fill full page */
  html {
    @apply w-screen h-screen;
  }

  body {
    @apply h-full w-full m-0 p-0 border-0 align-baseline  !important;
    @apply transition-colors duration-300 ease-in-out;
    @apply bg-background-brand;
    min-width: 320px;
    min-height: 100vh;
  }
}

@layer components {
  .full-page {
    @apply flex flex-col w-screen h-screen overflow-hidden !important;
  }

  .fill {
    @apply w-full h-full;
  }

  .fullscreen {
    @apply w-screen h-screen;
  }

  a {
    @apply hover:underline hover:cursor-pointer;
    font-weight: 500;
    text-decoration: inherit;
  }

  .logo {
    will-change: filter;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2rem #646cffaa);
  }
}

@layer utilities {
  .remove-scroll-bar::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none !important;
  }

  .remove-scroll-bar::-webkit-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }

  .bg-mount {
    @apply bg-fixed bg-cover;
    background-image: linear-gradient(180deg, #35027a 0%, #0e0021 2100px, #0e0021 4500px);
  }

  /* rainbow rotate animated ring border */
  .rainbow-ring-rotate {
    @apply z-0 overflow-hidden relative;
    @apply bg-gradient-to-br from-brand-4 via-brand-5 to-brand-6 !important;
  }

  @keyframes rainbow-ring-rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  .rainbow-ring-rotate::before {
    content: '';
    width: 200%;
    height: 200%;
    @apply absolute -z-20 -left-1/2 -top-1/2 bg-brand-1 bg-no-repeat;
    background-image: linear-gradient(#3f5efb, #fc466b), linear-gradient(#833ab4, #fd1d1d, #fcb045);
    animation: rainbow-ring-rotate 4s linear infinite;
  }

  .rainbow-ring-rotate::after {
    content: '';
    @apply -z-10 absolute inset-1 bg-white rounded;
  }
}
